


.modal-header {
    border-bottom: 0;
}
.jqcart-title {
    background-image: url(../img/cart.svg);
    background-size: 70px 70px;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    position: relative;

}
.jqcart-total-cnt {
    position: absolute;
    top: 38px;
    right: -10px;
    width: 26px;
height: 26px;
flex-shrink: 0;
background-image: url(../img/Ellipse.svg);
background-size: 26px 26px;
background-repeat: no-repeat;
color: #FFF;
font-family: 'Inter';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.modal_img {
    width: 800px;
    
}
.modal_img img {
    width: 720px;

}
.sum {
    display: flex;
    justify-content: center;
}
select {
    width: 500px;
    border: none;
    border-bottom: 1px solid;
    background: #E1DDDA;
    margin-bottom: 30px;
    color: #1C0C09;
    font-family: 'Nunito Sans';
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
}
.modal-body {
    padding: 10px 90px 10px 90px;
}
.modal-footer {
   display: none;
}
.add_item {
    margin-top: 65px;
    border-radius: 30px;
    border: 2px solid #E25F6A;
    background: #E25F6A;
    width: 242px;
    height: 60px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Nunito Sans';
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.modal-dialog-scrollable .modal-body {
     overflow-y:hidden;
}
.form_cake {
    margin-left: 85px;
    
}
.modal-header .close {
    padding: 48px;
    
}
.modal-dialog {
    width: 100vw;
    margin: 0;
   height: 100vh;
}

.modal-backdrop.show {
    opacity: 0;
}

.modal-content {
    border: 0;
    height: 100vh;
    background: #E1DDDA;
}
.modal-dialog-scrollable .modal-content {
    min-height: 100vh;
}
.cake_block_wrapper {
    display: flex;
    flex-wrap: wrap;
}
.btn {
    color: #000;
font-family: Nunito Sans;
font-size: 27px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: start;
}
.btn img {
    margin-bottom: 20px;
    width: 382px;
    height: 382px;
}
 .for_filter {
    margin: 0 89px 0px 89px;
}
.form_cake h4 {
    color: #E25F6A;
font-family: 'Lemonada';
font-size: 40px;
font-style: normal;
font-weight: 380;
line-height: normal;
}
.form_cake p {
    color: #000;
    font-family: 'Nunito Sans';
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width:1000px) {
    .modal-dialog-scrollable .modal-body {
        overflow-y:auto;
   }
   .sum {
    flex-direction: column;
}
}
@media (min-width: 576px) {
   .modal-dialog {
    max-width: 100vw;
    
} 

}
