*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    -webkit-tap-highlight-color: transparent; 
    margin: 0;
    padding: 0;
  }


html,
body {
   
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
input[type="text"] {
  
    
    line-height: inherit; /* 1 */
    margin: 0; /* 2 */
  }
  input {outline: 0 !important;}
  :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

a {
    text-decoration: none !important;
}
.header_block {
    background-image: url(../img/main_img.svg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1920px;
    height: 1097px;
    margin: 0 auto;
    background-attachment: fixed;
    
}

.header_logo {
    color: #E25F6A;
    font-family: 'Lemonada';
    font-size: 27px;
    font-style: normal;
    font-weight: 380;
    line-height: normal;
    margin-top: 37px;
    min-width: 225px;
 
   
}
.header_logo:hover {
    text-shadow: 0 0 20px #FFF;
    color: #E25F6A ;
}
.link_phone {
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    color: #FFF;
    font-family: 'Nunito Sans';
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 58px;
}

.contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
     
}
.contacts a img {
    width: 33px;
    height: 33px;
    margin-right: 33px;
   
}

.contacts a img:hover {
    transform: scale(0.95);
    box-shadow:0 0 20px rgba(226, 95, 106, 1);
}
.main_slogan h1 {
    color: #FFF;
    font-family: 'Lemonada';
    font-size: 79px;
    font-style: normal;
    font-weight: 380;
    line-height: 150%; /* 88.5px */
}
.main_slogan {
    margin: 211px 0 0 84px;
    width: 705px;
}
.main_slogan p {
    color: #FFF;
    font-family: 'Nunito Sans';
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 95px;
}
.button_about {
    color: #FFF;
    font-family: 'Nunito Sans';
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 323px;
    flex-shrink: 0;
    background-color: rgba(226, 95, 106, 1);
    border-radius: 30px;
    text-align: center;
    padding: 16px 16px 17px 16px;
    margin-top: 95px;
    display: block;
    
}
.button_about:hover {

        box-shadow:0 0 20px rgba(226, 95, 106, 1);
        transform: scale(0.95);
        border: 1px solid #FFF;
}
.info_cake h3 {
    color: #E25F6A;
    font-family: 'Lemonada';
    font-size: 27px;
    font-style: normal;
    font-weight: 575;
    line-height: normal;
}

.info_cake p {
    color: #FFF;
    font-family: 'Nunito Sans';
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
    margin-top: 25px;
}
.info_cake {
    background: #1C0C09;
    width: 684px;
  
    padding: 58px 50px 50px 50px;
    }
.cake_block {
    background: #E1DDDA;
    padding-top: 120px;
    margin: 0 auto;
    max-width: 1920px;
    padding-bottom: 232px;
}
.cake_block_wrapper{
    display: flex;
    justify-content: space-around;
    margin: 0 auto 0px auto;
    max-width: calc(98% - 23%);
}
.img_cake {
    display: flex;
    flex-wrap: wrap;
    width: 694px;
   
    justify-content: space-between;
}
.img_cake img:first-child {
    width: 695px;
    height: 494px;
    margin-bottom: 32px;
}
.img_cake img:nth-child(2) {
    width: 321px;
    height: 232px;
}
.img_cake img:nth-child(3) {
    width: 331px;
    height: 232px;
}
.button_view_all {
    font-family: 'Nunito Sans';
    font-size: 27px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    width: 323px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 2px solid #E25F6A;
    margin: 0 auto;
    text-align: center;
    padding: 18px 16px;
    display: block;
    color: #000;
    margin-top: 60px;

}
.button_view_all:hover {
    box-shadow:0 0 20px rgba(226, 95, 106, 1);
    transform: scale(0.95);
}
.cake_block h2, .follow_us h2 {
    color: #000;
    font-family: 'Lemonada';
    font-size: 60px;
    font-style: normal;
    font-weight: 380;
    line-height: 150%; /* 67.5px */
    text-align: center;
    margin-top: 216px;
}

.follow_us h2 {
    margin-top: 0;
}
.choose_us h3 {
    color: #1C0C09;
    font-family: 'Lemonada';
    font-size: 27px;
    font-style: normal;
    font-weight: 575;
    line-height: normal;
}
.choose_us p {
    color: #000;
    font-family: 'Nunito Sans';
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
}
.choose_us {
    display: flex;
    max-width: 1920px;
    margin: 75px 92px 0 92px;
}
.choose_us img {
    margin-right: 27px;
    margin-left: 27px;
    width: 74px;
    height: 74px;
    position: relative;
}
.choose_us div {
    width: 450px;
}
.status {
    text-align: center;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    width: 100%;
    height: 10px;
    text-align: center;
    display: block;
    position: relative;
    color: #F73E94;
    opacity: 0;
    bottom: 25px;
    
     
}
.form input.error{
   
    background: rgba(247, 62, 148, 1)
}
#formname-error, #formemail-error {
    color: rgba(34, 220, 217, 1);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}
.contacts_form {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    background: #DFD8D7;
    max-height: 1043px;
}
.contacts_block_img img {
    width: 919px;
    height: 1043px;
}
.form_title {
    color: #000;
    font-family: 'Lemonada';
    font-size: 60px;
    font-style: normal;
    font-weight: 380;
    line-height: 150%; /* 67.5px */
}
.form {
    width: 761px;
    margin: 0 auto;
}
.form_text {
    color: #000;
    font-family: 'Nunito Sans';
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
    margin-top: 19px;
}
.input {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    height: calc(5rem + 2px);
    line-height: 1.25;
    padding: 1rem 0.75rem;
    background-color: #DFD8D7;
    width: 759px;
    font-family: 'Nunito Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
}
.text-field__label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem .75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: color .15s ease-in-out, transform .15s ease-in-out;
    display: block;
    margin-bottom: 0.25rem;
    color: #A4A2A2;
    font-family: 'Nunito Sans';
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
    display: block;
    margin-bottom: 0.25rem;
}
.name {
    position: relative;
    margin-top: 14px;
}
 .name .input:focus, .input:not(:placeholder-shown){
    padding-top: 1.625rem;
    padding-bottom: .625rem;
    border-bottom: 1px solid #E25F6A;
}
.name .input:focus~.text-field__label, .input:not(:placeholder-shown)~.text-field__label{
    transform: scale(.65) translateY(-.75rem) translateX(.15rem);
    color: #E25F6A;
}
.input[type="search"]::-webkit-search-decoration,
.input[type="search"]::-webkit-search-cancel-button,
.input[type="search"]::-webkit-search-results-button,
.input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.name .input::-moz-placeholder {
    color: transparent;
  }

  .name input::placeholder {
    color: transparent;
  }
  input {outline:none;}
  .input:disabled,
  .input[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
  }
  
.input-file-row {
	display: flex;
    margin-top: 60px;
}
.input-file {
	position: relative;
	display: inline-block;
}
.input-file-btn:hover {
   
    transform: scale(0.95);
   
    border: 1px solid #FFF;
    box-shadow: rgb(226, 95, 106) 0px 0px 20px;
}
.input-file-btn, .input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
	border-radius: 4px;
	padding: 16px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
    color: #FFF;
    font-family: 'Nunito Sans';
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 30px;
    background: #E25F6A;
    width: 323px;
   
    flex-shrink: 0;
}
.input-file-btn {
    margin-top: 80px;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}



/* Hover/Active */



/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}

/* Список файлов */
.input-file-list {
	padding: 10px 0;
}
.input-file-list-item {
	margin-bottom: 10px;
}
.input-file-list-remove {
	color: red;
	text-decoration: none;
	display: inline-block;
	margin-left: 10px;
    margin-right: 10px;
}
.input-file-list-name {
    color: black;
    font-family: 'Nunito Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
}

.center {
    width: 401px;
   display: none;
    position: relative;
    top: -75px;
    left: 351px;
    font-family: 'Nunito Sans';
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: #E25F6A;
  }
#file_list {
    margin-left: 25px;
    max-height: 167px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    width: 400px;
}
.follow_us {
    background: #E1DDDA;
    padding-top: 216px;
    max-width: 1920px;
    margin: 0 auto;
}
.follow_us p {
    color: #000;
    font-family: 'Nunito Sans';
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    width: 960px;
    text-align: center;
    margin: 0 auto;
}
.follow_us h2 span {
    color: #E25F6A;
}
.img_wrapper_block {
    display: flex;
    flex-direction: column;
    

}
.img_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 62px;
    padding-bottom: 120px;
}
.img_wrapper_block a img {
    margin-top: 41px;
}
footer {
    background: #1C0C09;
    max-width: 1920px;
    margin: 0 auto;

    padding-top: 40px;
    padding-bottom: 89px;
}

.footer_wrapper {
    display: flex;
    justify-content: center;
    margin: 0 70px;
}
.img1 {
    width: 755px;
    height: 755px;
    margin-right: 41px;
    display: block;
    
}
.img2 {
    width: 755px;
    height: 513px;
    margin-right: 41px;
    display: block;
}
.img3 {
    width: 875px;
    height: 582px;
    display: block;
}
.img4 {
    width: 875px;
    height: 683px;
    display: block;
}
.for_footer {
    max-width: 310px;
    margin-top: 48px;
    
}

.contacts_footer {
    max-width: 374px;
    justify-content: space-between;
}
.menu_footer {
    max-width: 754px;
}


.contacts_block {
    display: flex;
    justify-content: space-around;
    margin: 120px auto;
    max-width: 1920px;
}
.map iframe {
    width: 872px;
    height: 700px;
}
.address_txt {
    color: #000;
    font-family: 'Lemonada';
    font-size: 27px;
    font-style: normal;
    font-weight: 380;
    line-height: normal;
}
.address ul li {
    display: flex;
    margin-top: 37px;
}
.address ul li img {
    width: 53px;
    height: 53px;
    margin-right: 18px;
}
.address {
    margin: auto 0;
}
@media(min-width:1750px) and (max-width:1900px) {
     .img_cake img:first-child {
        width: 632px;
        height: 450px;
     
    }
    .img_cake img:nth-child(2) {
        width: 292px;
        height: 211px;
    }
    .img_cake img:nth-child(3) {
        width: 301px;
        height: 211px;
    }
    .img_cake {
        width: 633px;
    }
    .info_cake {
        width: 623px;
    }
    .info_cake h3, .main_slogan p, 
    .info_cake p, 
    .choose_us p, 
    .form_text,
    .input-file-btn, 
    .input-file span,
    .follow_us p,
    .main_slogan p {
        font-size: 25px;
    }
   
    .button_view_all {
        font-size: 25px;
        width: 294px;
    }
    .button_about {
        font-size: 25px;
        width: 294px;
    }

    .main_slogan h1 {
        font-size: 72px;
    }
  
    .cake_block h2, 
    .follow_us h2, 
    .form_title{
        font-size: 55px;
    }
    .contacts_block_img img {
        width: 838px;
        height: 951px;
    }
    .form {
        width: 694px;
    }
    .input {
        width: 692px;
        font-size: 27px;
    }
    .input-file-btn, 
    .input-file span {
        width: 294px;
    }
    .img1 {
        width: 688px;
        height: 688px;
    }
    .img2 {
        width: 688px;
        height: 467px;
    }
    .img3 {
        width: 797px;
        height: 530px;
    }
    .img4 {
        width: 797px;
        height: 622px;
    }
    .cake_block_wrapper {
        justify-content: space-around;
    }

 
 
}
@media(min-width:1600px) and (max-width:1749px) {
    .input {
        width: 633px;
        font-size: 25px;
    }
    .input-file-btn, 
    .input-file span {
        width: 269px;
    }
    .img1 {
        width: 629px;
        height: 629px;
    }
    .img2 {
        width: 629px;
        height: 427px;
    }
    .img3 {
        width: 729px;
        height: 485px;
    }
    .img4 {
        width: 729px;
        height: 569px;
    }
    .main_slogan {
        width: 676px;
      }
      .img_cake img:first-child {
        width: 579px;
        height: 412px;
     
    }
    .img_cake img:nth-child(2) {
        width: 267px;
        height: 193px;
    }
    .img_cake img:nth-child(3) {
        width: 275px;
        height: 193px;
    }
    .img_cake {
        width: 578px;
    }
    .info_cake {
        width: 570px;
    }
    .info_cake h3, 
    .main_slogan p, 
    .info_cake p, 
    .choose_us p,
    .form_text,
    .input-file-btn, 
    .input-file span,
    .follow_us p,
    .main_slogan p {
     font-size: 23px;
     }
    
    .button_about {
     font-size: 23px;
     width: 269px;
     }
     .button_view_all {
         font-size: 23px;
         width: 269px;
     }
 
     .main_slogan h1 {
         font-size: 66px;
     }
    
     .cake_block h2, 
     .follow_us h2, 
     .form_title {
         font-size: 50px;
     }
     .contacts_block_img img {
         width: 766px;
         height: 869px;
     }
     .form {
         width: 634px;
     }
     .contacts_footer {
        margin-top: 43px;
     }
 
}
@media(min-width:1440px) and (max-width:1599px) {
    .img_cake img:first-child {
        width: 521px;
        height: 370px;
    }
    .img_cake img:nth-child(2) {
        width: 241px;
        height: 174px;
    }
    .img_cake img:nth-child(3) {
        width: 248px;
        height: 174px;
    }
    .info_cake {
        width: 513px;
    }
    .img_cake {
        width: 520px;
    }
    .info_cake h3,
    .info_cake p,
    .button_view_all,
    .choose_us h3,
    .choose_us p  {
        font-size: 20px;
    }
    .button_view_all {
        width: 242px;
    }
    .cake_block h2, 
    .follow_us h2,
    .form_title {
        font-size: 45px;
    }
    .choose_us {
        margin: 75px 88px 0 88px;
    }
    .contacts_block_img img {
        width: 689px;
        height: 782px;
    }
    .form {
        width: 571px;
    }
    .main_slogan h1 {
        font-size: 59px;
      }
      .main_slogan {
        width: 560px;
      }
      .main_slogan p,
      .button_about,
      .input,
      .input-file-btn, 
      .input-file span,
      .form_text,
      .follow_us p  {
        font-size: 20px;
      }
      .button_about {
        width: 242px;
      }
      .input {
        width: 569px;
      }
      .input-file-btn, 
      .input-file span {
        width: 242px;
      }
      .input-file-btn {
        margin-top: 60px;
    }
    .follow_us p {
        width: 719px;
    }
    .img1 {
        width: 566px;
        height: 566px;
      
    }
    .img3 {
        width: 656px;
        height: 436px;
     
    }
    .img2 {
        width: 568px;
        height: 379px;
   
    }
    .img4 {
        width: 656px;
        height: 512px;
     
    }
    .contacts_footer {
        margin-top: 45px;
    }
    .for_footer {
        margin-top: 43px;
    }
}
@media(min-width:1439px) and (max-width:1441px) {
    .cake_block_wrapper {
        justify-content: space-between;
    }
}


@media(min-width:1500px) and (max-width:1800px) {
    .link_phone {
        font-size: 21px;
    }
    .header_logo {
        font-size: 21px;
        min-width: 180px;
    }
    .contacts a img {
        width: 25px;
        height: 25px;
        margin-right: 25px;
  }
  .for_footer {
     margin-top: 43px;
}
}
@media(min-width:1440px) and (max-width:1500px) {
    .header_logo, .link_phone {
        font-size: 17px;
    }
    .contacts a img {
        width: 25px;
        height: 25px;
        margin-right: 25px;
  }
  .header_logo {
    min-width: 150px;
  }
  .contacts {
    margin-top: 43px;
  }

}